---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}
/* 사이트의 공통 스타일 */

/* 기본 색상 */
body {
  color: #333;
  font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
header {
  background-color: #f8f8f8;
  padding: 10px;
}

/* 네비게이션 메뉴 */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: #007bff;
}

/* 스크롤 시 따라오는 메뉴에 대한 스타일 */
.sticky-nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1000; /* Ensure it stays above other content */
}

/* 스크롤 시 따라오는 메뉴 */
.sticky-nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1000; /* Ensure it stays above other content */
  padding: 10px 0;
}